<h1>Welcome to <br>Natalie and Conrad's <br>Baby Shower!</h1>
<%= link_to "Baby Faces", new_face_path %>
<%= link_to "Baby Food", new_food_path %>
<%= link_to "Natalie's Age", new_nat_path %>
<%= link_to "Conrad's Age", new_con_path %>