<!DOCTYPE html>
<html>
<title>Baby Shower</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="mobile.css">


<body style="max-width:600px">

<!-- SIDEBAR commented out 
<nav class="w3-sidebar w3-bar-block w3-card-2 w3-top" style="width:30%;display:none;z-index:2" id="mySidebar">
<div class="w3-container w3-theme-d2">
  <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-xlarge">x</span>
  <br>
  <div class="w3-padding w3-center">
    <img class="w3-circle" src="img_avatar.jpg" alt="avatar" style="width:75%">
  </div>
</div>
<a class="w3-bar-item w3-button" href="#">Movies</a>
<a class="w3-bar-item w3-button" href="#">Friends</a>
<a class="w3-bar-item w3-button" href="#">Messages</a>
</nav>
-->

<header class="w3-bar w3-theme">
<!--  <button class="w3-bar-item w3-button w3-xlarge" onclick="history.go(-1)">&#8630;</button>-->
  <h1 class="w3-bar-item2 w3-text-white">Natalie and Conrad's <br> Baby Shower</h1>
</header>

<a href="babyfaces.html"> <!-- Entire DIV is a clickable link -->
<div class="w3-container">
<hr>
<div class="w3-row" style="background:#FD008F;">
  <div class="w3-col s3">
    <img class="w3-circle" src="babyfaces.jpg" style="width:100%">
  </div>
  <div class="w3-col s9 w3-container">
    <h3 class="w3-text-white">Baby Faces</h3>
    <p class="w3-text-white">Put together a ridiculous face.</p>
  </div>
</div>  
</a>
<hr>
<a href="babyfood.html"> <!-- Entire DIV is a clickable link -->
<div class="w3-row" style="background:#A304FB;">
  <div class="w3-col s3">
    <img class="w3-circle" src="babyfood.jpg" style="width:100%">
  </div>
  <div class="w3-col s9 w3-container">
    <h3 class="w3-text-white">Baby Food</h3>
    <p class="w3-text-white">Touch it, smell it, taste it - What's it made of?.</p>
  </div>
</div>
</a>
<hr>
<a href="../nats/natsage.html"> <!-- Entire DIV is a clickable link -->
<div class="w3-row" style="background:#AAFE00;">
  <div class="w3-col s3">
    <img class="w3-circle" src="natsage2.jpg" style="width:100%">
  </div>
  <div class="w3-col s9 w3-container">
    <h3 class="w3-text-white">Natalie's Age</h3>
    <p class="w3-text-white" >Guess her age.</p>
  </div>
</div>
</a>
<hr>

<a href="../cons/ConsAge.html"> <!-- Entire DIV is a clickable link -->
<div class="w3-row" style="background:orange;">
  <div class="w3-col s3">
    
      <img class="w3-circle"  src="consage.jpg" style="width:100%">
	
  </div>
  <div class="w3-col s9 w3-container">
    <h3 class="w3-text-white">Conrad's Age</h3>
    <p class="w3-text-white">Guess his age.</p>
	<hr>
  </div>
</a>
</div>
<hr>
</div>

<!-- FOOTER Commented out
<footer class="w3-container w3-theme w3-bottom">
  <h3>Back</h3>
</footer>
-->

<script>
function openSidebar() {
    document.getElementById("mySidebar").style.display = "block";
}
function closeSidebar() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
