<body>
    <div class="container">
      
      <h1>Guess what's in the Baby Food!</h1>

<form class="new_food" id="new_food" action="/foods" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="jG3PbzNbPEVcomesYFNHPAkH2kW17AYJYZXlSJgFhVguLKQqbZsKZlhKaUFp+rxDctASaQ8CDqwNYejs9RAWvQ==">
	<div>
		<div class="field">
			<label for="food_name">Your Name: </label>
			<input type="text" name="food[name]" id="food_name">
		</div>
		<div class="field">
			<label for="food_guess1a">Jar 1</label>
			<select name="food[guess1a]" id="food_guess1a"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			<div class="indentGuess">
				<select name="food[guess1b]" id="food_guess1b"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
		</div>
		<div class="field">
			<label for="food_guess2a">Jar 2</label>
			<select name="food[guess2a]" id="food_guess2a"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			<div class="indentGuess">
				<select name="food[guess2b]" id="food_guess2b"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
			<div class="indentGuess">
				<select name="food[guess2c]" id="food_guess2c"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
			<div class="indentGuess">
				<select name="food[guess2d]" id="food_guess2d"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
		</div>
		<div class="field">
			<label for="food_guess3a">Jar 3</label>
			<select name="food[guess3a]" id="food_guess3a"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
				<div class="indentGuess">
				<select name="food[guess3b]" id="food_guess3b"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
			<div class="indentGuess">
				<select name="food[guess3c]" id="food_guess3c"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
			<div class="indentGuess">
				<select name="food[guess3d]" id="food_guess3d"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
		</div>
		<div class="field">
			<label for="food_guess4a">Jar 4</label>
			<select name="food[guess4a]" id="food_guess4a"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			<div class="indentGuess">	
				<select name="food[guess4b]" id="food_guess4b"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
			<div class="indentGuess">
				<select name="food[guess4c]" id="food_guess4c"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>	
			</div>
		</div>
		<div class="field">
			<label for="food_guess5a">Jar 5</label>
			<select name="food[guess5a]" id="food_guess5a"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			<div class="indentGuess">
				<select name="food[guess5b]" id="food_guess5b"><optgroup label="Ingredients"><option value="Acorn Squash">Acorn Squash</option>
<option value="Agar">Agar</option>
<option value="Apple">Apple</option>
<option value="Banana">Banana</option>
<option value="Beet">Beet</option>
<option value="Blueberries">Blueberries</option>
<option value="Butternut Squash">Butternut Squash</option>
<option value="Carrot">Carrot</option>
<option value="Chia Seeds">Chia Seeds</option>
<option value="Chickpea">Chickpea</option>
<option value="Chocolate">Chocolate</option>
<option value="Corn">Corn</option>
<option value="Hemp Hearts">Hemp Hearts</option>
<option value="Kombucha">Kombucha</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Pear">Pear</option>
<option value="Quinoa">Quinoa</option>
<option value="Spinach">Spinach</option>
<option value="Sweet Potato">Sweet Potato</option>
<option value="Tofu">Tofu</option>
<option value="Yam">Yam</option></optgroup></select>
			</div>
		</div>
		<div class="field">
			<input type="submit" name="commit" value="Create Food" data-disable-with="Create Food">
		</div>
	</div>

</form>
    </div>
  

</body>