<body>
    <div class="container">
      
      <h1>Welcome to <br>Guess Natalie's Age!</h1>
<form class="new_nat" id="new_nat" action="/nats" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="iCFbyq8+NfYtVEgidF8owrL3nz7s7EIBHJTe4mt9UycqYDCP8f4D1Sm8Rs999tO9ySBXElYCSqRwYNNGBmjAwg==">
	<div class="col-lg-12 col-xs-12 well" align="center">
		<div class="field">
			<label for="nat_name">Your Name: </label>
			<input type="text" name="nat[name]" id="nat_name">
		</div>
		<div class="field">
			<label for="nat_age0">Picture 1:</label>
			<input type="text" name="nat[age0]" id="nat_age0">
			<label for="nat_age0">Years</label>
		</div>
		<div class="field">
			<label for="nat_age1">Picture 2:</label>

			<input type="text" name="nat[age1]" id="nat_age1">
			<label for="nat_age1">Years</label>
		</div>
		<div class="field">
			<label for="nat_age2">Picture 3:</label>
			<input type="text" name="nat[age2]" id="nat_age2">
			<label for="nat_age2">Years</label>
		</div>
		<div class="field">
			<label for="nat_age3">Picture 4:</label>
			<input type="text" name="nat[age3]" id="nat_age3">
			<label for="nat_age3">Years</label>
		</div>
		<div class="field">
			<label for="nat_age4">Picture 5:</label>
			<input type="text" name="nat[age4]" id="nat_age4">
			<label for="nat_age4">Years</label>
		</div>
		<div class="field">
			<label for="nat_age5">Picture 6:</label>
			<input type="text" name="nat[age5]" id="nat_age5">
			<label for="nat_age5">Years</label>
		</div>
		<div class="field">
			<label for="nat_age6">Picture 7:</label>
			<input type="text" name="nat[age6]" id="nat_age6">
			<label for="nat_age6">Years</label>
		</div>
		<div class="field">
			<label for="nat_age7">Picture 8:</label>
			<input type="text" name="nat[age7]" id="nat_age7">
			<label for="nat_age7">Years</label>
		</div>
		<div class="field">
			<label for="nat_age8">Picture 9:</label>
			<input type="text" name="nat[age8]" id="nat_age8">
			<label for="nat_age8">Years</label>
		</div>
		<div class="field">
			<label for="nat_age9">Picture 10:</label>
			<input type="text" name="nat[age9]" id="nat_age9">
			<label for="nat_age9">Years</label>
		</div>
		<div class="field">
			<input type="submit" name="commit" value="Create Nat" data-disable-with="Create Nat">
		</div>
	</div>

</form>
    </div>
  

</body>